html {
  margin: 0px; 
  min-height: 100%!important;
  height:100%; 
  padding: 0px; 
}

body {
  margin: 0px; 
  min-height: 100%!important;
  height:100%; 
  padding: 0px; 
}

h1 {
  color: white;
  font-family: "Axis", sans-serif;
}

.background {
  background-image: url("sunhacks-background.png");
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  height: 100%; 
  width: 100%; 
}

nav {
  background-color:transparent !important;
}

.headerlink {
  background-color: #ff9089; 
  color: white; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-left: 20px; 
  padding-right: 20px; 
  border-radius: 10px; 
  margin-left: 10px; 
  margin-right: 10px; 
  font-family: "Axis", sans-serif;
}

.headerlink:hover {
  color: white; 
  text-decoration: none; 
  background-color: #e04861;
}

.headerlink:link {
  color: white; 
  text-decoration: none; 
  background-color: #e04861;
}

table.center {
  margin-right: auto; 
  margin-left: auto;
  border-collapse:separate; 
  border-spacing: 0 5px;
}

tr {
  margin: 20px;
}

td {
  padding: 20px; 
  text-align: left;
}

.schedulebox {
  background: white; 
  overflow-y: scroll; 
  margin-left: auto; 
  margin-right: auto; 
  height: 65vh; 
  width: 80vw;
  text-align: center;
}

.scheduleheader {
  background-color: #5db3b8; 
  color: white;
  border-radius: 2px; 
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
  margin-right: 10px;
  height: 30px;
}

.schedulerow {
  background-color: #85dbcd; 
  color: white;
  border-radius: 2px; 
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
  margin-right: 10px;
  height: 30px;
  border-spacing: 5em;
}

footer {
  position: absolute; 
  width:100%;
  bottom: 0; 
  z-index: 2;
  height: 14vh; 
  color: #faf8f3;
  background-color: rgba(135, 88, 2, 0.17); 
}

.footertext {
  color: #faf8f3;
  text-align: center;
  font-size: 14px; 
}

.footertext a i {
  color: #faf8f3;
  font-size: 40px;
  margin: 10px; 
}

.logocontainer {
  text-align: center;
}

.logo {
  height: 22em;
}

.sponsor-row {
  padding: 10px;
  text-align: center; }

img.logo {
  margin-top: 30px; }

.sun .logo {
  max-height: 150px; }

.planet .logo {
  max-height: 150px;}

.moon .logo {
  max-height: 75px;}

.asteroid .logo {
  max-height: 60px;}

.comet .logo {
  max-height: 45px;}

.partners {
  color: #99cd76;
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px; 
}

  
@media (max-width: 900px) {
  .logo {
    height: 15em;
  }
}

@media (max-width: 776px) {
  .sun .logo {
    max-height: 150px;
    max-width: 400px; }

  .planet .logo {
    max-height: 150px;
    max-width: 300px; }

  .moon .logo {
    max-height: 100px;
    max-width: 160px; }

  .asteroid .logo {
    max-height: 80px;
    max-width: 140px; }

  .comet .logo {
    max-height: 60px;
    max-width: 140px; }

  .partners {
    font-size: 36px; } }

@media (max-width: 580px) {
  .sun .logo {
    max-height: 100px;
    max-width: 230px; }

  .planet .logo {
    max-height: 100px;
    max-width: 200px; }

  .moon .logo {
    max-height: 60px;
    max-width: 120px; }

  .asteroid .logo {
    max-height: 50px;
    max-width: 100px; }

  .comet .logo {
    max-height: 40px;
    max-width: 100px; }

  .partners {
    font-size: 30px;
    margin-bottom: 0; } }
    